sudo: required
services:
  - docker
before_install:
  - docker build -t kellygvm/docker1:v3.0 .
script:
  - echo "$password" | docker login -u "$username" --password-stdin
  - docker images
  - docker push kellygvm/docker1:v3.0
notifications:
  email:
    recipients:
      - meera.visu16@gmail.com
    on_success: always
    on_failure: always
